nav, footer, video {
	display:none;
}
a[href^="http://"]:after, a[href^="https://"]:after {
	content: " (" attr(href) ")";
	font-size: 80%;
}
a[href^="#"]:after {
	content: "";
}
.container, article {
	width: 100%;
}